@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 min-h-screen;
}

button {
  @apply min-w-[100px] px-2 py-1 rounded-md hover:cursor-pointer;
}

table {
  @apply table-fixed border-collapse w-full mt-5;
}
thead {
  @apply bg-blue-500 h-10;
}
tbody {
  @apply text-center;
}
tbody tr {
  @apply hover:bg-gray-100;
}
th {
  @apply border border-gray-300;
}
td {
  @apply border border-gray-300 py-1;
}
